{% extends 'base.html.twig' %}

{% block title %}Listes des legumes{% endblock %}
{% block monTitle %} 

    {% if isModif %}
        Modification {{legume.nom}} 
    {% else %}
        New Legume
    {% endif %}

{% endblock %}




{% block body %}

<div class="container">


<img style="width: 150px " src="{{asset('images/legumes/' ~ legume.img)}}" alt="">
{{form_start(form)}}
{{form_row(form.nom, {"attr":{"class" : "text-dark bg-white"},

"label":"Nom : "})}}

{{form_widget(form)}}
<input type="submit" class="btn btn-info"  value="Modifier">

{{form_end(form)}}

</div>
{% endblock %}

